<div>
    <div nz-row>
        <h1 nz-card-grid [ngStyle]="gridStyle">목표</h1>
    </div>

    <div nz-row>
        <div nz-col nzFlex="2">
            <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="목표 입력">
                <form nz-form [formGroup]="goalForm" class="custom-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control>
                            <textarea nz-input placeholder="목표를 입력하세요" formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the start date!">
                            <nz-date-picker style="width: 100%;" formControlName="startDate" nzPlaceHolder="시작 날짜를 선택하세요"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the end date!">
                            <nz-date-picker style="width: 100%;" formControlName="endDate" nzPlaceHolder="종료 날짜를 선택하세요"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button nzType="primary" nzBlock="w-100" [disabled]="goalForm.invalid">등록</button>
                </form>
            </nz-card>
        </div>
        <div nz-col nzFlex="3" style="margin-left: 20px;">
            <div nz-col nzFlex="3" style="margin-left: 20px;">
                <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="목표 내역">
                    <div *ngFor="let goal of goals" class="challenge-card">
                        <nz-card nzType="inner" [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
                            <div nz-row class="info-row">
                                <div nz-col nzSpan="8" class="left-align">
                                    <strong>시작:</strong> {{ goal.startDate | date: 'yyyy년 M월 d일' }}
                                </div>
                                <div nz-col nzSpan="8" class="center-align">
                                    <strong>종료:</strong> {{ goal.endDate | date: 'yyyy년 M월 d일' }}
                                </div>
                                <div nz-col nzSpan="8" class="right-align">
                                    <strong>달성여부:</strong>
                                    <span *ngIf="goal.achieved; else notAchieved">
                                        ⭕
                                    </span>
                                    <ng-template #notAchieved>
                                        ❌
                                        <button nz-button nzType="text" (click)="updateGoalStatus(goal.id)" class="achieve-button">달성</button>
                                    </ng-template>
                                </div>
                            </div>
                        </nz-card>
                        <ng-template #titleTemplate>
                            <div class="title-container">
                                <span class="card-title">{{ goal.description }}</span>
                            </div>
                        </ng-template>
                        <ng-template #extraTemplate>
                            <button nz-button nzType="default" (click)="deleteGoal(goal.id)">삭제</button>
                        </ng-template>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</div>